.betslip-main-tab {
    background: #fff;
    color: $darkBlue;
    width: 33.3%;
    text-align: center;
    padding: 20px;
    svg {
        font-size: 20px;
    }
}

ul.betslip-tabs {
    display: flex;
    li.tab {
        background-color: #fff;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        position: relative;
        a {
            color: $darkBlue;
            font-family: 'Archivo Narrow', sans-serif; 
            font-size: 18px;
        }

    }
}

.bets-section {
    background-color: rgb(228,232,238);
    color: $darkBlue;
    padding: 20px 20px 0 0;
}

.active-bet-tab {
    color: $lightBlue;
    text-decoration: underline;
}

.flex {
    display: flex;
}

.bet-text-left {
    width: 33%;
}

.bet-text-right {
    width: 66%;
}

.bets-section {
    padding: 15px;
}

li.bet {
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 1px solid $darkBlue;
}

.today {
    color: green;
}

.tomorrow {
    color: orange;
}

.expired {
    color: red;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}
.winner-button {
    border: none;
    padding: 10px 15px;
    color: white;
}

.user-placed-button {
    background-color: $lightBlue;
}

.user-accepted-button {
    background-color: $darkBlue;
}

.bet-main {
    margin-top: 15px;
}