nav.home-nav {
    margin: 20px 0;
    ul {
        list-style: none;
    }
    .nav-left {
        float: left;
    }
    .nav-right {
        float: right;
        display: flex;
    }

    .login-button {
        background-color: $darkBlue;
        color: #fff;
        &:hover {
            color: $lightBlue;
        }
    }

    .join-now-button {
        background-color: #fff;
        color: $lightBlue;
        border-radius: 3px;
        &:hover {
            background-color: $darkBlue;
            outline: 1px solid #fff;
        }
    }

    .login-button,
    .join-now-button {
        border: none;
        margin-right: 15px;
        cursor: pointer;
    }
    .home, 
    .login-button,
    .join-now-button,
    .nav-greeting {
        padding: 10px;
    }
}